{% extends 'BaseFullscreen.html.twig' %}
{% block layoutCssClass %}main--with-footer{% endblock %}
{% block title %}{{ "course.new.title"|trans({}, 'DegreeBase') }}{% endblock %}

{% block body %}
    <div class="exercise-form">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{{ path('exercise-overview') }}">{{ "course.index.title"|trans({}, 'DegreeBase') }}</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">{{ "course.new.title"|trans({}, 'DegreeBase') }}</li>
                </ol>
            </nav>
            <header class="content-header">
                <h3>{{ "course.new.title"|trans({}, 'DegreeBase') }}</h3>
            </header>

            {{ form_start(form) }}
            {{ form_errors(form) }}

            {{ form_row(form.name) }}
            {{ form_row(form.fachbereich) }}
            <div class="searchable-select-field form-group" data-controller="searchableSelectField">
                {{ form_label(form.users) }}
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fa fa-search"></i></div>
                    </div>
                    <input
                        type="search"
                        class="form-control searchable-select-field__input"
                        aria-label="{{ "course.labels.filterTutorsAria"|trans({}, 'DegreeBase') }}"
                        placeholder="{{ "course.labels.filterTutors"|trans({}, 'DegreeBase') }}"
                    />
                </div>
                {{ form_errors(form.users) }}
                <div class="searchable-select-field__list">
                    {{ form_widget(form.users) }}
                </div>
                {{ form_help(form.users) }}
            </div>
        </div>
    </div>

    <footer class="footer">
        <a class="button button--type-outline-primary footer__left"
           href="{{ path('exercise-overview') }}">{{ "course.new.back"|trans({}, 'DegreeBase') }}</a>
        <div class="footer__right">
            {{ form_row(form.save) }}
        </div>
    </footer>
    {{ form_end(form) }}
{% endblock %}
