{% trans_default_domain 'forms' %}

{% if is_granted('ROLE_DOZENT') %}
    {% set statusTransVar = 'exercise.labels.status' ~ (exercise.status) %}
    {% set statusClassVar = 'tile--status-' ~ (exercise.status) %}
    <div tabindex="0" class="tile {{ statusClassVar }}" title="{{ exercise.description }}">
        <input id="{{ exercise.id }}" type="checkbox" />
        <label for="{{ exercise.id }}" class="tile__content">
            {% if exercise.status == 0 %}
                <i class="tile__icon fas fa-eye-slash" title="{{ statusTransVar | trans }}"></i>
            {% elseif exercise.status == 1 %}
                <i class="tile__icon fas fa-check" title="{{ statusTransVar | trans }}"></i>
            {% else %}
                <i class="tile__icon fas fa-eye" title="{{ statusTransVar | trans }}"></i>
            {% endif %}
            <span class="tile__date">{{ exercise.createdAt|date("d.m.Y") }}</span>
            <span class="tile__title">{{ exercise.name }}</span>
            <span class="tile__phases">{% trans %}exercise.labels.phases{% endtrans %}: {{ exercise.phases|length }}</span>
            <i class="tile__action-icon fas fa-arrow-down"></i>
        </label>
        <div class="tile__actions">
            <a href="{{ path('exercise-overview__exercise-phase--show-solutions', {id: exercise.id}) }}">
                <i class="fas fa-clipboard-check"></i> {% trans %}exercise.showSolution.title{% endtrans %}
            </a>
            {% if is_granted('view', exercise) %}
                <a href="{{ path('exercise-overview__exercise--show', {id: exercise.id}) }}">
                    <i class="fas fa-eye"></i> {% trans %}exercise.test.title{% endtrans %}
                </a>
            {% endif %}
            {% if is_granted('edit', exercise) %}
                <a href="{{ path('exercise-overview__exercise--edit', {id: exercise.id}) }}">
                    <i class="fas fa-pencil-alt"></i> {% trans %}exercise.edit.title{% endtrans %}
                </a>
                <a href="{{ path('exercise-overview__exercise--delete', {id: exercise.id}) }}" class="color-alert">
                    <i class="fas fa-trash-alt"></i> {% trans %}exercise.delete.title{% endtrans %}
                </a>
            {% endif %}
        </div>
    </div>
{% else %}
    {% if is_granted('view', exercise) %}
        {% if is_granted('isFinished', exercise) %}
            {{ _self.tile(exercise, '', 'fas fa-check') }}
        {% elseif is_granted('isOpened', exercise) %}
            {{ _self.tile(exercise, '', 'fas fa-user-edit') }}
        {% else %}
            {{ _self.tile(exercise, 'tile--is-new', 'fas fa-envelope-open-text') }}
        {% endif %}
    {% endif %}
{% endif %}

{% macro tile(exercise, additionalClass, iconClass) %}
    <a href="{{ path('exercise-overview__exercise--show', {id: exercise.id}) }}" class="tile {{ additionalClass }}" title="{{ exercise.description }}">
        <div class="ribbon"><span>Is New</span></div>
        <div class="tile__content">
            <i class="tile__icon {{ iconClass }}"></i>
            <span class="tile__date">{{ exercise.createdAt|date("d.m.Y") }}</span>
            <span class="tile__title">{{ exercise.name }}</span>
            <i class="tile__action-icon  fas fa-arrow-right"></i>
        </div>
    </a>
{% endmacro %}