<div class="sidebar">
    <ul>
        {% for item in sidebarItems %}
            <li class="sidebar-item">
                <span>{{ item.label }}</span>
                <ul>
                    {% for course in item.courses %}
                        <li class="sidebar-item {{ (currentItem != false and course.id == currentItem.id) ? 'sidebar-item--active' : '' }}">
                            <a class="nav-link" href="{{ path('exercise-overview--show-course', {id: course.id}) }}">{{ course.name }} ({{ course.exercises|length }})</a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
</div>