{% extends 'BaseWithHeaderWithoutNavigation.html.twig' %}
{% block layoutCssClass %}main--with-footer{% endblock %}

{% block title %}{{ "common.degree"|trans({}, 'DegreeBase') }} - {{ "common.dataPrivacy"|trans({}, 'DegreeBase') }}{% endblock %}

{% block body %}
    <div class="container">
        <header class="content-header">
            <h1>{{ "common.dataPrivacy"|trans({}, 'DegreeBase') }}</h1>
        </header>

        {{ include('Partials/DataPrivacyContent.html.twig') }}
    </div>
    <footer class="footer footer--center">
        <a class="button button--type-primary footer__center" href="{{ path('app_data-privacy', {accepted: true}) }}" role="link">{{ "security.dataPrivacy.accept"|trans({}, 'DegreeBase') }}</a>
    </footer>
{% endblock %}
