{% trans_default_domain 'forms' %}
{% extends 'BaseFullscreen.html.twig' %}

{% block title %}{% trans %}exercise.edit.title{% endtrans %}{% endblock %}

{% block body %}
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('exercise-overview--show-course', {id: exercise.course.id}) }}">Übersicht</a></li>
                <li class="breadcrumb-item active" aria-current="page">{% trans %}exercise.edit.title{% endtrans %}</li>
            </ol>
        </nav>

        <header class="content-header">
            <h3>{% trans %}exercise.edit.title{% endtrans %}</h3>
            {% if exerciseHasSolutions %}
                <div class="alert alert-warning">
                    Achtung: Aufgabe wird/wurde schon von Studenten bearbeitet.
                </div>
            {% endif %}
        </header>
        <p>
            {% set statusTransVar = 'exercise.labels.status' ~ (exercise.status) %}
            <strong>Status: </strong> {{ statusTransVar | trans }}
            {% if exercise.status == 0 %}
                <a href="{{ path('exercise-overview__exercise--change-status', {id: exercise.id, status: 2}) }}"
                   class="btn btn-primary btn-sm">Aufgabe veröffentlichen</a>
            {% elseif exercise.status == 2 %}
                <a href="{{ path('exercise-overview__exercise--change-status', {id: exercise.id, status: 0}) }}"
                   class="btn btn-danger btn-sm">Aufgabe verstecken</a>
            {% endif %}
        </p>


        <div class="exercise-form">
            {{ form_start(form) }}
            <div class="exercise-form__left">
                {{ form_errors(form) }}

                {{ form_row(form.name) }}
                {{ form_row(form.description) }}
            </div>
            <div class="exercise-form__right">
                <h5>Phasen ({{ exercise.phases|length }})</h5>
                <table class="table">
                    <thead>
                    <tr>
                        <th></th>
                        <th>{% trans %}exercisePhase.labels.type{% endtrans %}</th>
                        <th>{% trans %}exercisePhase.labels.name{% endtrans %}</th>
                        <th></th>
                    </tr>
                    </thead>
                    {% for exercisePhase in exercise.phases %}
                        {% set phaseTypeTransVar = 'exercisePhase.types.' ~ (exercisePhase.type) ~ '.label' %}
                        <tr>
                            <td>
                                {% if exercisePhase.isGroupPhase %}
                                    <i class="fas fa-users"
                                       title="{% trans %}exercisePhase.labels.isGroupPhase{% endtrans %}"></i>
                                {% else %}
                                    <i class="fas fa-user"></i>
                                {% endif %}
                            </td>
                            <td>{{ phaseTypeTransVar | trans }}</td>
                            <td>{{ exercisePhase.name }}</td>
                            <td class="text-right">
                                <a class="btn btn-outline-danger btn-sm"
                                   href="{{ path('exercise-overview__exercise-phase--delete', {id: exercise.id, phase_id: exercisePhase.id}) }}">
                                    <i class="fas fa-trash-alt"></i> {% trans %}exercisePhase.delete.button{% endtrans %}
                                </a>
                                <a class="btn btn-primary btn-sm"
                                   href="{{ path('exercise-overview__exercise-phase--edit', {id: exercise.id, phase_id: exercisePhase.id}) }}">
                                    <i class="fas fa-pencil-alt"></i> {% trans %}exercisePhase.edit.button{% endtrans %}
                                </a>

                                <div class="btn-group" role="group" aria-label="Sortierung der Phase ändern">
                                    {% if loop.first %}
                                        <button class="btn btn-outline-primary btn-sm" disabled="disabled"
                                                aria-disabled="true" title="Phase nach oben sortieren">
                                            <i class="fas fa-arrow-up"></i>
                                        </button>
                                    {% else %}
                                        <a class="btn btn-outline-primary btn-sm" title="Phase nach oben sortieren"
                                           href="{{ path('exercise-overview__exercise-phase--change-sorting', {id: exercise.id, phase_id: exercisePhase.id, sortUp: true}) }}">
                                            <i class="fas fa-arrow-up"></i>
                                        </a>
                                    {% endif %}
                                    {% if loop.last %}
                                        <button class="btn btn-outline-primary btn-sm" disabled="disabled"
                                                aria-disabled="true" title="Phase nach unten sortieren">
                                            <i class="fas fa-arrow-down"></i>
                                        </button>
                                    {% else %}
                                        <a class="btn btn-outline-primary btn-sm" title="Phase nach unten sortieren"
                                           href="{{ path('exercise-overview__exercise-phase--change-sorting', {id: exercise.id, phase_id: exercisePhase.id, sortUp: false}) }}">
                                            <i class="fas fa-arrow-down"></i>
                                        </a>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                <a class="btn btn-primary btn-sm"
                   href="{{ path('exercise-overview__exercise-phase--new', {id: exercise.id}) }}">
                    <i class="fas fa-plus"></i> {% trans %}exercisePhase.new.title{% endtrans %}</a>
                <a class="btn btn-primary btn-sm"
                   href="{{ path('exercise-overview__exercise-phase--new', {id: exercise.id, isGroupPhase: true}) }}">
                    <i class="fas fa-plus"></i> {% trans %}exercisePhase.new.titleForGroupPhase{% endtrans %}</a>
            </div>
        </div>
    </div>

    <footer class="footer">
        <a class="btn btn-outline-primary"
           href="{{ path('exercise-overview--show-course', {id: exercise.course.id}) }}">{% trans %}exercise.new.back{% endtrans %}</a>
        {{ form_row(form.save) }}
    </footer>
    {{ form_end(form) }}

{% endblock %}
