{% trans_default_domain 'forms' %}

<footer class="footer">
    <div class="footer__left">
    {% if previousExercisePhase %}
        <a class="button button--type-outline-primary button--size-small" href="{{ path('exercise-overview__exercise--show-phase-overview', {id: exercise.id, phaseId: previousExercisePhase.id}) }}">Vorherige Phase</a>
    {% else %}
        <a class="button button--type-outline-primary button--size-small" href="{{ path('exercise-overview', {id: exercise.course.id}) }}">{% trans %}exercise.new.back{% endtrans %}</a>
    {% endif %}
    </div>

    <span class="footer__center">Phase {{ currentPhaseIndex + 1 }} / {{ amountOfPhases + 1 }}</span>

    <div class="footer__right">
    {% if nextExercisePhase %}
        {% if is_granted('viewExercisePhase', nextExercisePhase) %}
            <a class="button button--type-primary button--size-small" href="{{ path('exercise-overview__exercise--show-phase-overview', {id: exercise.id, phaseId: nextExercisePhase.id}) }}">Nächste Phase</a>
        {% else %}
            <button type="button" class="button button--type-primary button--size-small disabled" disabled="disabled">Nächste Phase</button>
        {% endif %}
    {% endif %}
    </div>
</footer>
