{% trans_default_domain 'forms' %}

<footer class="footer">
    {% if currentPhaseIndex == 0 %}
        <a class="btn btn-outline-primary" href="{{ path('exercise-overview--show-course', {id: exercise.course.id}) }}">{% trans %}exercise.new.back{% endtrans %}</a>
    {% else %}
        <a class="btn btn-outline-primary" href="{{ path('exercise-overview__exercise--show', {id: exercise.id, phaseIndex: currentPhaseIndex - 1}) }}">Vorherige Phase</a>
    {% endif %}

    <span>Phase {{ currentPhaseIndex + 1 }} / {{ amountOfPhases + 1 }}</span>

    {% if currentPhaseIndex < amountOfPhases %}
        {% if is_granted('next', exercisePhase) %}
            <a class="btn btn-primary" href="{{ path('exercise-overview__exercise--show', {id: exercise.id, phaseIndex: currentPhaseIndex + 1}) }}">Nächste Phase</a>
        {% else %}
            <button type="button" class="btn btn-primary disabled" disabled="disabled">Nächste Phase</button>
        {% endif %}
    {% else %}
        <a class="btn btn-primary" href="{{ path('exercise-overview__exercise--finish', {id: exercise.id}) }}">Aufgabe abschließen</a>
    {% endif %}
</footer>