{% extends 'BaseWithSidebar.html.twig' %}

{% block title %}{{ exercise.name }}{% endblock %}

{% block sidebar %}
    {{ include('Exercise/PhasesSidebar.html.twig', {sidebarItems: exercise.phases, currentItemId: exercisePhase.id, showSolution: false}) }}
{% endblock %}

{% block layoutCssClass %}main--with-footer{% endblock %}

{% block body %}
    {% if userIsCreator %}
        <div class="striped-banner">
            <span class="striped-banner__text">Achtung: Aufgabe wird getestet. Bearbeitung ist für andere nicht sichtbar.</span>
        </div>
    {% endif %}
    <h2 class="text-center">Phase {{ currentPhaseIndex + 1 }}: {{ exercisePhase.name }}</h2>
    <p class="text-center"><strong>{% if exercisePhase.isGroupPhase %}In Gruppen{% else %}Alleine{% endif %}</strong></p>
    {% if exercisePhase.dependsOnPreviousPhase %}
        <p class="text-center">
            <strong>ACHTUNG:</strong> Diese Phase baut auf der vorherigen auf. Es muss ein Ergenis aus der vorherigen Phase vorliegen.
        </p>
    {% endif %}
    <p class="text-center text-small">
        {{ exercisePhase.task | raw }}
    </p>

    {% if exercisePhase.isGroupPhase %}
        <hr/>
        <h4>Bestehende Gruppen</h4>
        <p>Tritt einer Gruppe bei um die Aufgabe zu bearbeiten oder erstelle eine neue Gruppe.</p>

        <div class="row">
            <div class="col-3">
                {% if is_granted('createTeam', exercisePhase) %}
                    <div class="tile">
                        <a class="tile__content"
                           href="{{ path('exercise-overview__exercise-phase-team--new', {id: exercisePhase.id}) }}">
                            <i class="tile__icon fas fa-plus-circle"></i>
                            <h5>Neue Gruppe anlegen</h5>
                        </a>
                    </div>
                {% else %}
                    <div class="tile tile--disabled">
                        <div class="tile__content">
                            <i class="tile__icon fas fa-plus-circle"></i>
                            <h5>Neue Gruppe anlegen</h5>
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="col-9">
                <div class="tiles">
                    {% if teamOfCurrentUser %}
                        <div tabindex="0" class="tile tile--with-extension tile--active">
                            <div class="tile__content">
                                <i class="tile__icon fas fa-users"></i>
                                <span>Deine Gruppe</span>
                            </div>
                            <div class="tile__extension">
                                <div class="tile__extension-content">
                                    <strong>Mitglieder:</strong> <br/>
                                    {% for member in teamOfCurrentUser.members %}
                                        {{ member.username }} <br/>
                                    {% endfor %}
                                </div>
                                <div class="tile__extension-actions">
                                    {% if is_granted('delete', teamOfCurrentUser) %}
                                        <a class="btn btn-danger btn-sm"
                                           href="{{ path('exercise-overview__exercise-phase-team--delete', { 'id':exercisePhase.id, 'team_id': teamOfCurrentUser.id }) }}">Gruppe
                                            löschen</a>
                                    {% endif %}
                                    <a class="btn btn-primary btn-sm"
                                       href="{{ path('exercise-overview__exercise-phase--show', { 'id':exercisePhase.id, 'team_id': teamOfCurrentUser.id }) }}"><i class="fas fa-play"></i> Phase
                                        starten</a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% for team in teams %}
                        <div tabindex="0" class="tile tile--with-extension tile--active">
                            <div class="tile__content">
                                <i class="tile__icon fas fa-users"></i>
                                <span>Gruppe von {{ team.creator.username }}</span>
                            </div>
                            <div class="tile__extension">
                                <div class="tile__extension-content">
                                    <strong>Miglieder:</strong> <br/>
                                    {% for member in team.members %}
                                        {{ member.username }} <br/>
                                    {% endfor %}
                                </div>
                                <div class="tile__extension-actions">
                                    {% if is_granted('join', team) %}
                                        <a class="btn btn-primary btn-sm"
                                           href="{{ path('exercise-overview__exercise-phase-team--join', { 'id':exercisePhase.id, 'team_id': team.id }) }}">Gruppe
                                            beitreten</a>
                                    {% endif %}
                                    {% if is_granted('leave', team) %}
                                        <a class="btn btn-outline-primary btn-sm"
                                           href="{{ path('exercise-overview__exercise-phase-team--leave', { 'id':exercisePhase.id, 'team_id': team.id }) }}">Gruppe
                                            verlassen</a>
                                    {% endif %}
                                    {% if is_granted('delete', team) %}
                                        <a class="btn btn-danger btn-sm"
                                           href="{{ path('exercise-overview__exercise-phase-team--delete', { 'id':exercisePhase.id, 'team_id': team.id }) }}">Gruppe
                                            löschen</a>
                                    {% endif %}
                                    {% if is_granted('show', team) %}
                                        <a class="btn btn-primary btn-sm"
                                           href="{{ path('exercise-overview__exercise-phase--show', { 'id':exercisePhase.id, 'team_id': team.id }) }}"><i class="fas fa-play"></i> Phase
                                            starten</a>
                                    {% else %}
                                        {% if exercisePhase.otherSolutionsAreAccessible %}
                                            <a class="btn btn-outline-primary btn-sm"
                                               href="{{ path('exercise-overview__exercise-phase--show', { 'id':exercisePhase.id, 'team_id': team.id, 'showSolution': true }) }}">Ergebnis
                                                ansehen</a>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% else %}
        <div class="text-center">
            {% if teamOfCurrentUser %}
                <a class="btn btn-lg btn-primary"
                   href="{{ path('exercise-overview__exercise-phase--show', { 'id':exercisePhase.id, 'team_id': teamOfCurrentUser.id }) }}">
                    <i class="fas fa-play"></i>
                    Mein Ergebnis
                </a>
            {% else %}
                {% if is_granted('createTeam', exercisePhase) %}
                    <a class="btn btn-lg btn-primary"
                       href="{{ path('exercise-overview__exercise-phase-team--new', {id: exercisePhase.id}) }}">
                        <i class="fas fa-play"></i>
                        Phase starten
                    </a>
                {% endif %}
            {% endif %}
        </div>

        <hr/>

        <h5>Bisherigen Ergebnisse deiner Seminargruppe: </h5>
        {% if teams %}
            <table class="table table-sm">
                <thead class="thead-light">
                <tr>
                    <th>Name</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for team in teams %}
                    <tr>
                        <td>{{ team.creator.username }}</td>
                        <td>
                            {% if exercisePhase.otherSolutionsAreAccessible %}
                                <a
                                        href="{{ path('exercise-overview__exercise-phase--show', { 'id':exercisePhase.id, 'team_id': team.id, 'showSolution': true }) }}">
                                    Ergebnis anzeigen
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            Keine vorhanden
        {% endif %}
    {% endif %}
{% endblock %}

{% block footer %}
    {{ include('Exercise/Footer.html.twig', {exercise: exercise, exercisePhase: exercisePhase, amountOfPhases: amountOfPhases, previousExercisePhase: previousExercisePhase, nextExercisePhase: nextExercisePhase}) }}
{% endblock %}
