{% extends 'BaseFullscreen.html.twig' %}

{% block title %}{{ exercise.name }}{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="text-center">Ergebnisse Phase {{ currentPhase + 1 }}: {{ phase.name }}</h2>
        <p class="text-center"><strong>{% if phase.isGroupPhase %}In Gruppen{% else %}Alleine{% endif %}</strong></p>
        <hr />
        {% if phase.isGroupPhase %}
            <h4>Bisherigen Ergebnisse:</h4>

            <div class="tiles">
                <div tabindex="0" class="tile tile--active">
                    <a class="tile__content" href="{{ path('app_exercise-phase-show-solutions', { 'id':phase.id }) }}">
                        <i class="tile__icon fas fa-users"></i>
                        <span>Alle Ergebnisse im Vergleich ansehen</span>
                    </a>
                </div>
                {% for team in phase.teams %}
                    <div tabindex="0" class="tile tile--with-extension tile--active">
                        <div class="tile__content">
                            <i class="tile__icon fas fa-users"></i>
                            <span>Gruppe von {{ team.creator.username }}</span>
                        </div>
                        <div class="tile__extension">
                            <div class="tile__extension-content">
                                <strong>Mitglider:</strong> <br />
                                {% for member in team.members %}
                                    {{ member.username }} <br />
                                {% endfor %}
                            </div>
                            <div class="tile__extension-actions">
                                {% if is_granted('show', team) %}
                                    <a class="btn btn-primary btn-sm" href="{{ path('app_exercise-phase-show', { 'id':phase.id, 'team_id': team.id, 'showSolution': true }) }}">Ergebnis ansehen</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <h4>Bisherigen Ergebnisse: </h4>
            <div class="tiles">
                <div tabindex="0" class="tile tile--active">
                    <a class="tile__content" href="{{ path('app_exercise-phase-show-solutions', { 'id':phase.id }) }}">
                        <i class="tile__icon fas fa-users"></i>
                        <span>Alle Ergebnisse im Vergleich ansehen</span>
                    </a>
                </div>
                {% for team in phase.teams %}
                    <div tabindex="0" class="tile" >
                        <a class="tile__content" href="{{ path('app_exercise-phase-show', { 'id':phase.id, 'team_id': team.id, 'showSolution': true }) }}">
                            <i class="tile__icon fas fa-user"></i>
                            <span>Ergebnis ansehen von <br /><em>{{ team.creator.username }}</em></span>
                        </a>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    {{ include('Exercise/Footer.html.twig', {exercise: exercise, exercisePhase: phase, currentPhaseIndex: currentPhase, amountOfPhases: amountOfPhases, showSolution: showSolution}) }}

{% endblock %}
