{% extends 'BaseNoHeader.html.twig' %}

{% block title %}Degree 4.0{% endblock %}

{% block body %}
    <div class="container">
        <form method="post" class="login-form" role="form">
            <img src="{{ asset('build/images/logo_tmp.png') }}" alt="Logo der TU Dortmund" />
            <h1 class="h1 mb-3 font-weight-normal login-form__headline">Video-Lernplattform Degree 4.0</h1>

            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <br/>
            <a
                class="btn btn-lg btn-primary btn-block"
                role="link"
                href="{{ path('saml_login') }}"
                aria-label="Klicken, um dich mit deinem Uni-Account (SSO) einzuloggen."
            >
                Login mit Uni-Account (SSO)
            </a>

            <br />
            <hr />
            <br />

            <div class="form-group">
                <label for="inputEmail">E-Mail</label>
                <input
                    type="email"
                    value="{{ last_username }}"
                    name="email" id="inputEmail"
                    class="form-control"
                    aria-labelledby="inputEmail"
                    required
                    autofocus
                >
            </div>
            <div class="form-group">
                <label for="inputPassword">Passwort</label>
                <input
                    type="password"
                    name="password"
                    id="inputPassword"
                    class="form-control"
                    aria-labelledby="inputPassword"
                    required
                >
            </div>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >
            <button
                class="btn btn-lg btn-outline-primary btn-block"
                type="submit"
                role="button"
            >
                Direkter Login
            </button>
        </form>
    </div>
    <footer class="footer footer--center">
        {{ include('Version.html.twig') }}
        <a class="btn btn-link" href="{{ path('imprint') }}" role="link">Impressum</a>
        <a class="btn btn-link" href="{{ path('data-privacy') }}" role="link">Datenschutz</a>
        <a class="btn btn-link" href="{{ path('terms-of-use') }}" role="link">Nutzungsbedingungen</a>
    </footer>

    {# show notification when browser is out of date (https://browser-update.org/) #}
    <script>
        var $buoop = {
            {# browser: required version (0 is latest) #}
            required: {
                e: 0,
                f: 0,
                o: 0,
                s: 0,
                c: 0
            },
            {# test for insecure browsers #}
            insecure: true,
            api: 2020.10,
            nostatistics: true,
            shift_page_down: false,
            {# test the notification - even if browser is up-to-date #}
            {# test: true, #}
        };
        function $buo_f(){
            var e = document.createElement("script");
            e.src = "//browser-update.org/update.min.js";
            document.body.appendChild(e);
        };
        try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
        catch(e){window.attachEvent("onload", $buo_f)}
    </script>
{% endblock %}
