{% trans_default_domain 'forms' %}
{% extends 'BaseWithSidebar.html.twig' %}

{% block title %}{{ exercise.name }}{% endblock %}

{% block sidebar %}
    {{ include('Exercise/PhasesSidebar.html.twig', {sidebarItems: phases, currentItemId: exercisePhase.id, showSolution: false, testMode: testMode}) }}
{% endblock %}

{% block layoutCssClass %}main--with-footer{% endblock %}

{% block body %}
    {% if testMode %}
        <div class="striped-banner">
            <span class="striped-banner__text"><i class="fa fa-exclamation-triangle"></i> {% trans %}exercise.showPhase.testInfo{% endtrans %}</span>
        </div>
    {% endif %}
    <h2 class="text-center">{% trans %}exercise.showPhase.phase{% endtrans %} {{ currentPhaseIndex + 1 }}: {{ exercisePhase.name }}</h2>
    <p class="text-center"><strong>{% if exercisePhase.isGroupPhase %}In Gruppen{% else %}Alleine{% endif %}</strong></p>
    {% if exercisePhase.dependsOnExercisePhase and exercisePhase.type.value != 'reflexion' %}
        <p class="text-center">
            <i class="fa fa-exclamation-triangle"></i> {% trans %}exercise.showPhase.dependsOnPreviousPhaseInfo{% endtrans %}
        </p>
    {% endif %}
    <p class="text-center text-small">
        {{ exercisePhase.task | raw }}
    </p>

    {% if exercisePhase.isGroupPhase %}
        <hr/>
        <h4>{% trans %}exercise.showPhase.existingGroups{% endtrans %}</h4>
        <p>{% trans %}exercise.showPhase.existingGroupsInfo{% endtrans %}</p>

        <div class="row">
            <div class="col-3">
                {% if is_granted('createTeam', exercisePhase) %}
                    <a class="tile" href="{{ path((testMode) ? 'exercise-phase-team__test-new' :'exercise-phase-team__new', {id: exercisePhase.id}) }}" data-test-id="createGroupButton">
                        <div class="tile__content">
                            <i class="tile__icon fas fa-plus-circle"></i>
                            <span>{% trans %}exercise.showPhase.newGroup{% endtrans %}</span>
                        </div>
                    </a>
                {% else %}
                    <div class="tile tile--disabled">
                        <div class="tile__content">
                            <i class="tile__icon fas fa-plus-circle"></i>
                            <span>{% trans %}exercise.showPhase.newGroup{% endtrans %}</span>
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="col-9">
                <div class="tiles">
                    {% for team in teams %}
                        <div tabindex="0" class="tile tile--with-extension tile--active">
                            <div class="tile__content">
                                <i class="tile__icon fas fa-users"></i>
                                <span>{% trans %}exercise.showPhase.groupOf{% endtrans %} {{ team.creator.username }}</span>
                            </div>
                            <div class="tile__extension">
                                <div class="tile__extension-content">
                                    <strong>{% trans %}exercise.showPhase.groupMembers{% endtrans %}:</strong> <br/>
                                    {% for member in team.members %}
                                        {{ member.username }} <br/>
                                    {% endfor %}
                                </div>
                                <div class="tile__extension-actions">
                                    {% if testMode %}
                                        <a
                                            class="button button--size-small button--type-outline-primary"
                                            href="{{ path('exercise-phase__reset-test', { 'id':exercisePhase.id, 'team_id': teamOfCurrentUser.id }) }}"
                                        >
                                            {% trans %}exercisePhase.resetTest.title{% endtrans %}
                                        </a>
                                    {% else %}
                                        {% if is_granted('join', team) %}
                                            <a
                                                class="button button--type-primary button--size-small"
                                                href="{{ path('exercise-phase-team__join', { 'id':exercisePhase.id, 'team_id': team.id }) }}"
                                            >
                                                {% trans %}exercise.showPhase.joinGroup{% endtrans %}
                                            </a>
                                        {% endif %}
                                        {% if is_granted('leave', team) %}
                                            <a
                                                class="button button--type-outline-primary button--size-small"
                                                href="{{ path('exercise-phase-team__leave', { 'id':exercisePhase.id, 'team_id': team.id }) }}"
                                            >
                                                {% trans %}exercise.showPhase.leaveGroup{% endtrans %}
                                            </a>
                                        {% endif %}
                                        {% if is_granted('delete', team) %}
                                            <a
                                                class="button button--type-danger button--size-small"
                                                href="{{ path('exercise-phase-team__delete', { 'id':exercisePhase.id, 'team_id': team.id }) }}"
                                            >
                                                {% trans %}exercise.showPhase.deleteGroup{% endtrans %}
                                            </a>
                                        {% endif %}
                                    {% endif %}

                                    {% if is_granted('show', team) %}
                                        <a
                                           class="button button--type-primary button--size-small"
                                           href="{{ path('exercise-phase__show', { 'id':exercisePhase.id, 'team_id': team.id }) }}"
                                           data-test-id="startPhaseButtonGroup"
                                       >
                                            <i class="fas fa-play"></i> {% trans %}exercise.showPhase.startPhase{% endtrans %}
                                       </a>
                                    {% else %}
                                        {% if is_granted('viewOtherSolutions', exercisePhase) %}
                                            <a class="button button--type-outline-primary button--size-small"
                                               href="{{ path('exercise-phase__show', { 'id':exercisePhase.id, 'team_id': team.id, 'showSolution': true }) }}"
                                            >
                                                {% trans %}exercise.showPhase.myResult{% endtrans %}
                                            </a>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% else %}
        <div class="text-center">
            {% if teamOfCurrentUser %}
                <a
                    class="button button--size-large button--type-primary"
                    href="{{ path((testMode) ? 'exercise-phase__test' : 'exercise-phase__show' , { 'id':exercisePhase.id, 'team_id': teamOfCurrentUser.id }) }}"
                >
                    {% trans %}exercise.showPhase.myResult{% endtrans %}
                </a>
            {% else %}
                {% if is_granted('createTeam', exercisePhase) or testMode %}
                    <a
                        class="button button--size-large button--type-primary"
                        href="{{ path((testMode) ? 'exercise-phase-team__test-new' : 'exercise-phase-team__new', {id: exercisePhase.id}) }}"
                        data-test-id="startPhaseButtonSingle"
                    >
                        <i class="fas fa-play"></i>
                        {% trans %}exercise.showPhase.startPhase{% endtrans %}
                    </a>
                {% endif %}
            {% endif %}
            {% if testMode and teamOfCurrentUser %}
                <a
                    class="button button--size-large button--type-outline-primary"
                    href="{{ path('exercise-phase__reset-test', { 'id':exercisePhase.id, 'team_id': teamOfCurrentUser.id }) }}"
                >
                    {% trans %}exercisePhase.resetTest.title{% endtrans %}
                </a>
            {% endif %}
        </div>

        <hr/>

        <h5>{% trans %}exercise.showPhase.existingResults{% endtrans %}</h5>
        {% if otherTeams %}
            <table class="table table-sm">
                <thead class="thead-light">
                <tr>
                    <th>Name</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for team in otherTeams %}
                    <tr>
                        <td>{{ team.creator.username }}</td>
                        <td>
                            {% if is_granted('viewOtherSolutions', exercisePhase) %}
                                <a
                                    href="{{ path('exercise-phase__show-other-solution', { 'id':exercisePhase.id, 'team_id': team.id }) }}">
                                    {% trans %}exercise.showPhase.showResult{% endtrans %}
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            Keine vorhanden
        {% endif %}
    {% endif %}
{% endblock %}

{% block footer %}
    {{ include('Exercise/Footer.html.twig', {
        exercise: exercise,
        exercisePhase: exercisePhase,
        showPhasesProgression: true,
        currentPhaseIndex: currentPhaseIndex,
        amountOfPhases: amountOfPhases,
        previousExercisePhase: previousExercisePhase,
        nextExercisePhase: nextExercisePhase,
        testMode: testMode
    }) }}
{% endblock %}
