<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
    {% if userExpirationService.isUserExpiringSoon() %}
        <div class="user-expire-notice">
            <div class="user-expire-notice--message">
                Dein Nutzer-Account läuft bald ab und wird am {{ userExpirationService.getExpirationDate() }} automatisch gelöscht.
                Damit werden auch all deine Aufgaben, Videos und Materialien vom System entfernt.
                Wenn du weiterhin Zugriff zu deine Daten haben möchtest, klicke auf Verlängern.
            </div>
            <div class="user-expire-notice--actions">
                <a class="button button--type-primary" aria-label="Account um 1 Jahr verlängern" href="{{ path('user-expiration-increase') }}">Verlängern</a>
            </div>
        </div>
    {% endif %}
    {% block main %}{% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}

    <script>
        var degreeVersion = '{{ shivas_app_version }}'
    </script>

</body>
</html>
