{% trans_default_domain 'forms' %}

{% if is_granted('edit', video) %}
    <div tabindex="0" class="video-tile" title="{{ video.description }}">
        <input id="{{ video.id }}" type="checkbox" />
        <label for="{{ video.id }}" class="video-tile__content">
            <div class="video-tile__image" role="img" style="background-image: url({{ video.encodedVideoDirectory | virtualized_file_url }}/thumbnail.jpg)"></div>
            <span class="tile__date">{{ video.createdAt|date("d.m.Y") }}</span>
            <span class="tile__title">
                {% if video.courses | length == 0 %}
                    <i class="fas fa-eye-slash" title="Video ist privat"></i>
                {% endif %}
                {{ video.title }}
            </span>
            <i class="tile__action-icon fas fa-arrow-down"></i>
        </label>
        <div class="tile__actions">
            <a href="{{ path('mediathek__video--player', {id: video.id}) }}">
                <i class="fas fa-play"></i> {% trans %}video.show.title{% endtrans %}
            </a>
            <a href="{{ path('mediathek__video--edit', {id: video.id}) }}">
                <i class="fas fa-pencil-alt"></i> {% trans %}video.edit.title{% endtrans %}
            </a>
            <a href="{{ path('mediathek__subtitle-editor--show', {id: video.id}) }}">
                <i class="fas fa-pencil-alt"></i> {% trans %}video.subtitle.title{% endtrans %}
            </a>
            <a href="{{ path('mediathek__video--delete', {id: video.id}) }}" class="color-alert">
                <i class="fas fa-trash-alt"></i> {% trans %}video.delete.title{% endtrans %}
            </a>
        </div>
    </div>
{% else %}
    <a href="{{ path('mediathek__video--player', {id: video.id}) }}" class="video-tile" title="{{ video.description }}">
        <div class="video-tile__content">
            <div class="video-tile__image" role="img" style="background-image: url({{ video.encodedVideoDirectory | virtualized_file_url }}/thumbnail.jpg)"></div>
            <span class="tile__date">{{ video.createdAt|date("d.m.Y") }}</span>
            <span class="tile__title">{{ video.title }}</span>
            <i class="tile__action-icon  fas fa-arrow-right"></i>
        </div>
    </a>
{% endif %}