{% trans_default_domain 'forms' %}
{% for video in videos %}
    <div tabindex="0" class="tile tile--video" title="{{ video.description }}">
        <input id="{{ video.id }}" type="checkbox" />
        <label for="{{ video.id }}" class="tile__content">
            <div class="tile__image" role="img" style="background-image: url({{ video.encodedVideoDirectory | virtualized_file_url }}/thumbnail.jpg)"></div>
            <span>{{ video.title }}</span>
        </label>
        <div class="tile__actions">
            <a href="{{ path('mediathek__video--player', {id: video.id}) }}">
                <i class="fas fa-play"></i> {% trans %}video.show.title{% endtrans %}
            </a>
            {% if video.creator == app.user %}
                <a href="{{ path('mediathek__video--edit', {id: video.id}) }}">
                    <i class="fas fa-pencil-alt"></i> {% trans %}video.edit.title{% endtrans %}
                </a>
                <a href="{{ path('mediathek__subtitle-editor--show', {id: video.id}) }}">
                    <i class="fas fa-pencil-alt"></i> {% trans %}video.subtitle.title{% endtrans %}
                </a>
                <a href="{{ path('mediathek__video--delete', {id: video.id}) }}" class="color-alert">
                    <i class="fas fa-trash-alt"></i> {% trans %}video.delete.title{% endtrans %}
                </a>
            {% endif %}
        </div>
    </div>
{% endfor %}
