{% trans_default_domain 'forms' %}
{% extends 'BaseFullscreen.html.twig' %}

{% block title %}{% trans %}video.edit.title{% endtrans %}{% endblock %}
{% block layoutCssClass %}main--with-footer{% endblock %}

{% block body %}
    <div class="container">
        <header class="content-header content-header--center">
            <h3>{% trans %}video.edit.title{% endtrans %}</h3>
        </header>

        <div data-controller="react" data-react-widget="VideoPlayer" data-react-props="{{ { 'controls': true, sources: [{src: "#{video.encodedVideoDirectory | virtualized_file_url }/hls.m3u8"}] } | json_encode|e('html_attr')}}"></div>
    </div>
    {{ form_start(form) }}
        <div class="container">
            {{ form_row(form.title) }}
            {{ form_row(form.description) }}
            {{ form_row(form.courses) }}
            <div class="form__data-privacy">
                {{ form_row(form.dataPrivacyAccepted) }}
                <a href="{{ path('data-privacy') }}" target="_blank">Datenschutzbestimmung ansehen</a>
            </div>
            <hr />
            <h4>Video wird in folgenden Aufgaben/Phasen verwendet</h4>
            <ul>
                {% for phase in video.videoAnalysisTypes %}
                    <li>{{ phase.belongsToExercise.name }} / {{ phase.name }}</li>
                {% else %}
                    <li>Bisher in keiner Phase verwendet</li>
                {% endfor %}
            </ul>
        </div>

        <footer class="footer">
            <a class="btn btn-outline-primary" href="{{ path('mediathek--index') }}">{% trans %}video.upload.back{% endtrans %}</a>
            {{ form_row(form.save) }}
        </footer>
    {{ form_end(form) }}
{% endblock %}
