{% trans_default_domain 'forms' %}
{% extends 'BaseFullscreen.html.twig' %}

{% block title %}{% trans %}video.upload.title{% endtrans %}{% endblock %}
{% block layoutCssClass %}main--with-footer{% endblock %}

{% block body %}
    <div class="container">
        <header class="content-header content-header--center">
            <h3>{% trans %}video.upload.title{% endtrans %}</h3>
        </header>
        <div class="dropzone" data-controller="fileupload" data-fileupload-endpoint="{{ oneup_uploader_endpoint('uploaded_videos') }}" data-fileupload-id="{{ uuid }}">
            <i class="fas fa-spinner fa-spin"></i>
        </div>
    </div>

    {{ form_start(form) }}
        <div class="container">
            {{ form_row(form.title) }}
            {{ form_row(form.description) }}
            {{ form_row(form.courses) }}
        </div>
        <footer class="footer">
            <a class="btn btn-outline-primary" href="{{ path('app_mediathek-index') }}">{% trans %}video.upload.back{% endtrans %}</a>
            {{ form_row(form.save) }}
        </footer>
    {{ form_end(form) }}
{% endblock %}
