{% trans_default_domain 'forms' %}

{% if is_granted('edit', exercise.exercise) %}
    {% set statusTransVar = 'exercise.labels.status' ~ (exercise.exercise.status) %}
    {% set statusClassVar = 'overview-item--status-' ~ (exercise.exercise.status) %}
    <div tabindex="0" class="overview-item {{ statusClassVar }}">
        <div class="overview-item__date" aria-label="{% trans %}exercise.labels.createdLabel{% endtrans %}: {{ exercise.exercise.createdAt|date("d.m.Y") }}">
            {{ exercise.exercise.createdAt|date("d.m.Y") }}
        </div>
        <div class="overview-item__status" aria-label="{% trans %}exercise.labels.statusLabel{% endtrans %}: {{ statusTransVar | trans }}">
            {% if exercise.exercise.status == 0 %}
                <i class="fas fa-eye-slash" title="{{ statusTransVar | trans }}"></i>
            {% elseif exercise.exercise.status == 1 %}
                <i class="fas fa-check" title="{{ statusTransVar | trans }}"></i>
            {% else %}
                <i class="fas fa-eye" title="{{ statusTransVar | trans }}"></i>
            {% endif %}
        </div>
        <div
            class="overview-item__title"
            aria-label="{% trans %}exercise.labels.name{% endtrans %}: {{ exercise.exercise.name }}"
        >
            <strong>{{ exercise.exercise.name }}</strong>
            <em>{{ exercise.exercise.phases|length }} {% trans %}exercise.labels.phases{% endtrans %}</em>
            {% if exercise.needsReview %}
                <div><i class="fa-regular fa-circle-exclamation-check"></i> {{ 'exercise.labels.reviewRequired' | trans }}</div>
            {% endif %}
        </div>
        <div class="overview-item__actions" aria-label="{% trans %}exercise.labels.actionsLabel{% endtrans %}">
            <button
                class="button button--type-link"
                aria-label="{% trans %}exercise.labels.toggleActions{% endtrans%} {{ exercise.exercise.name }}"
            >
                <i class="fas fa-ellipsis-v"></i>
                <div class="overview-item__actions-dropdown">
                    {% if is_granted('showSolution', exercise.exercise) %}
                        <a href="{{ path('exercise__show-solutions', {id: exercise.exercise.id}) }}">
                            <i class="fas fa-clipboard-check"></i> {% trans %}exercise.showSolution.title{% endtrans %}
                        </a>
                    {% endif %}
                    {% if is_granted('test', exercise.exercise) %}
                        <a href="{{ path('exercise__test', {id: exercise.exercise.id}) }}">
                            <i class="fas fa-vial"></i> {% trans %}exercise.test.title{% endtrans %}
                        </a>
                    {% endif %}
                    {% if is_granted('view', exercise.exercise) %}
                        <a href="{{ path('exercise__show', {id: exercise.exercise.id}) }}">
                            <i class="fas fa-play"></i> {% trans %}exercise.show.title{% endtrans %}
                        </a>
                    {% endif %}
                    {% if is_granted('edit', exercise.exercise) %}
                        <a href="{{ path('exercise__edit', {id: exercise.exercise.id}) }}">
                            <i class="fas fa-pencil-alt"></i> {% trans %}exercise.edit.title{% endtrans %}
                        </a>
                        <a href="{{ path('exercise__copy', {id: exercise.exercise.id}) }}">
                            <i class="fas fa-clone"></i> {% trans %}exercise.copy.title{% endtrans %}
                        </a>
                        <a
                            href="{{ path('exercise__delete', {id: exercise.exercise.id}) }}"
                            class="color-alert"
                            onclick="return confirm('{% trans %}exercise.delete.confirm{% endtrans %}');"
                        >
                            <i class="fas fa-trash-alt"></i> {% trans %}exercise.delete.title{% endtrans %}
                        </a>
                    {% endif %}
                </div>
            </button>
        </div>
    </div>
{% else %}
    {% if is_granted('view', exercise.exercise) %}
        <div class="overview-item">
            <div class="overview-item__date" aria-label="{% trans %}exercise.labels.createdLabel{% endtrans %}: {{ exercise.exercise.createdAt|date("d.m.Y") }}">
                {{ exercise.exercise.createdAt|date("d.m.Y") }}
            </div>
            {% if is_granted('isFinished', exercise.exercise) %}
                <div class="overview-item__status" aria-label="{% trans %}exercise.labels.statusLabel{% endtrans %}: {% trans %}exercise.labels.statusFinished{% endtrans %}">
                    <i class="fas fa-check" title="{% trans %}exercise.labels.statusFinished{% endtrans %}"></i>
                </div>
            {% elseif is_granted('isOpened', exercise.exercise) %}
                <div class="overview-item__status" aria-label="{% trans %}exercise.labels.statusLabel{% endtrans %}: {% trans %}exercise.labels.statusStarted{% endtrans %}">
                    <i class="fas fa-user-edit" title="{% trans %}exercise.labels.statusStarted{% endtrans %}"></i>
                </div>
            {% else %}
                <div class="overview-item__status" aria-label="{% trans %}exercise.labels.statusLabel{% endtrans %}: {% trans %}exercise.labels.statusNew{% endtrans %}">
                    <i class="fas fa-envelope-open-text" title="{% trans %}exercise.labels.statusNew{% endtrans %}"></i>
                </div>
            {% endif %}
            <a
                href="{{ path('exercise__show', {id: exercise.exercise.id}) }}"
                class="overview-item__title"
                aria-label="{% trans %}exercise.labels.name{% endtrans %}: {{ exercise.exercise.name }}"
            >
                {{ exercise.exercise.name }}
            </a>
        </div>
    {% endif %}
{% endif %}
