{% set route = app.request.get('_route') %}

<header class="main-header">
    <nav class="navigation" role="navigation">
        <a class="navigation__brand" href="/"><img src="{{ asset('build/images/logo.svg') }}" alt="{{ "common.logoAltText"|trans({}, 'DegreeBase') }}" /></a>
        <button class="navigation__toggler" type="button" data-toggle="collapse" data-target="#navigation"
                aria-controls="navbarNav" aria-expanded="false" aria-label="{{ "common.toggleNavigation"|trans({}, 'DegreeBase') }}">
            <i class="fas fa-bars"></i>
        </button>
        <div class="navigation__inner collapse" id="navigation">
            <ul class="navigation__items">
                {% if app.user.isStudent %}
                    <li class="navigation__item {{ 'schreibtisch' in route ? 'navigation__item--active' }}">
                        <a data-test-id="header-menu-schreibtisch" href="{{ path('schreibtisch') }}">
                            <span>{{ "desk.index.title"|trans({}, 'DegreeBase') }}</span>
                        </a>
                    </li>
                {% endif %}

                <li class="navigation__item {{ 'exercise-overview' in route ? 'navigation__item--active' }}">
                    <a href="{{ path('exercise-overview') }}">
                        <span>{{ "course.index.title"|trans({}, 'DegreeBase') }}</span>
                    </a>
                </li>
                <li class="navigation__item {{ 'mediathek' in route ? 'navigation__item--active' }}">
                    <a data-test-id="header-menu-mediathek" href="{{ path('mediathek--index') }}">
                        <span>{{ "video.index.title"|trans({}, 'DegreeBase') }}</span>
                    </a>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="navigation__item">
                        <a href="/admin"><span>{{ "administration.index.title"|trans({}, 'DegreeBase') }}</span></a>
                    </li>
                {% endif %}
            </ul>

            <div class="navigation__user">
                <i class="fas fa-user"></i> {{ app.user.username }}
                <a href="{{ path('app_logout') }}">{{ "common.logout"|trans({}, 'DegreeBase') }}</a>
            </div>
        </div>
    </nav>
</header>

