{% extends 'BaseWithSidebar.html.twig' %}

{% block title %}{{ "video.index.title"|trans({}, 'DegreeBase') }}{% endblock %}

{% block sidebar %}
    {{ include('Mediathek/Sidebar.html.twig', {sidebarItems: sidebarItems, currentItem: course}) }}
{% endblock %}

{% block body %}
    <header class="content-header">
        <h3>{{ "video.index.allVideos"|trans({}, 'DegreeBase') }} {{ course ? "common.for"|trans({}, 'DegreeBase')~' '~course.name : '' }}</h3>
        {% if userService.userCanUploadVideo() %}
            <a href="{{ path('mediathek__video--upload', {id: course ? course.id : null}) }}" class="button button--type-primary">
                <i class="fas fa-plus-circle"></i>
                {{ "video.new.title"|trans({}, 'DegreeBase') }}
            </a>
        {% endif %}
    </header>

    {{ include('Mediathek/GroupedVideos.html.twig', {groupedVideos: groupedVideos}) }}
{% endblock %}
