{% trans_default_domain 'forms' %}
{% extends 'BaseFullscreen.html.twig' %}

{% block title %}{% trans %}exercisePhase.new.title{% endtrans %}{% endblock %}

{% block body %}
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('exercise-overview--show-course', {id: exercise.course.id}) }}">Übersicht</a></li>
                <li class="breadcrumb-item"><a href="{{ path('exercise-overview__exercise--edit', {id: exercise.id}) }}">{% trans %}exercise.edit.title{% endtrans %}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{% trans %}exercisePhase.new.title{% endtrans %}</li>
            </ol>
        </nav>

        <header class="content-header content-header--center">
            <h3>{% trans %}exercisePhase.new.title{% endtrans %}</h3>
        </header>

        <div class="tiles">
            {% for type in types %}
                <a href="{{ path('exercise-overview__exercise-phase--set-type', {id: exercise.id, type: type.id, isGroupPhase: isGroupPhase}) }}" class="tile">
                    <div class="tile__content">
                        <i class="tile__icon {{ type.iconClass}}"></i>
                        <span>{{ type.label }}</span>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>

    <footer class="footer">
        <a class="btn btn-outline-primary" href="{{ path('exercise-overview__exercise--edit', {id: exercise.id}) }}">{% trans %}exercisePhase.new.back{% endtrans %}</a>
    </footer>

{% endblock %}
