{% trans_default_domain 'forms' %}
{% extends 'BaseFullscreen.html.twig' %}

{% block title %}{% trans %}exercisePhase.edit.title{% endtrans %}{% endblock %}

{% block body %}
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('exercise-overview', {id: exercise.course.id}) }}">Übersicht</a>
                </li>
                <li class="breadcrumb-item"><a
                            href="{{ path('exercise-overview__exercise--edit', {id: exercise.id}) }}">{% trans %}exercise.edit.title{% endtrans %}</a>
                </li>
                <li class="breadcrumb-item active"
                    aria-current="page">{% trans %}exercisePhase.edit.title{% endtrans %}</li>
            </ol>
        </nav>

        <header class="content-header">
            {% set phaseTypeTransVar = 'exercisePhase.types.' ~ (exercisePhase.type) ~ '.label' %}
            <h3>{% trans %}exercisePhase.edit.title{% endtrans %} / {{ phaseTypeTransVar | trans }} </h3>
        </header>

        <div class="exercise-form">
            {{ form_start(form) }}
            {{ form_errors(form) }}

            {{ form_row(form.isGroupPhase) }}
            {{ form_row(form.name) }}
            {{ form_row(form.task) }}

            <hr/>
            {% if exercisePhase.type == 'videoAnalysis' %}
                <p>Aktive Komponenten zur Lösung der Aufgabe: </p>
                {{ form_widget(form.videoAnnotationsActive) }}
                {{ form_widget(form.videoCodesActive) }}
                {{ form_widget(form.videoCuttingActive) }}

                <p>{% trans %}exercisePhase.labels.components{% endtrans %}</p>
                {{ form_row(form.components) }}
                <hr/>
            {% endif %}

            {% if exercisePhase.type == 'videoAnalysis' %}
                <h4>{% trans %}exercisePhase.labels.videosExtended{% endtrans %}</h4>
                {{ form_row(form.videos) }}
                <hr/>
            {% endif %}

            {% if exercisePhase.videoCodesActive %}
                <h4>{% trans %}exercisePhase.labels.videoCodes{% endtrans %}</h4>
                <p>Stehen dem Nutzer zur Auswahl während der Aufgabe</p>
                <div class="form-inline video-code-form" id="add-new-video-code-form" data-controller="videoCodeForm"
                     data-videoCodeForm-endpoint="{{ path('exercise-overview__video-codes--add', {id: exercisePhase.id}) }}"
                     data-videoCodeForm-update="video-codes-list">
                    <label class="sr-only" for="video-code-color">Farbe des Video-Codes</label>
                    <input class="form-control" id="video-code-color" type="color" placeholder="#ccc"/>
                    <label class="sr-only" for="video-code-name">Name des Video-Codes</label>
                    <input class="form-control" id="video-code-name" type="text"
                           placeholder="Name des Video-Codes"/>
                    <button id="add-new-video-code" type="button" class="btn btn-primary"><i class="fas fa-plus"></i>
                        Video-Code hinzufügen
                    </button>
                </div>
                <div id="video-codes-list"
                     data-update-endpoint="{{ path('exercise-overview__video-codes--list', {id: exercisePhase.id}) }}">
                    {{ render(path('exercise-overview__video-codes--list', {id: exercisePhase.id})) }}
                </div>

                <hr/>
            {% endif %}

            <h4>{% trans %}exercisePhase.labels.material{% endtrans %}</h4>
            <p>Material hochladen das zur Lösung der Aufgabe bereit steht:</p>
            <div class="dropzone" data-controller="materialUpload"
                 data-materialUpload-endpoint="{{ oneup_uploader_endpoint('uploaded_material') }}"
                 data-materialUpload-remove-endpoint="{{ path('exercise-overview__material--delete-ajax') }}"
                 data-materialUpload-label="Hier klicken um Material hochzuladen"
                 data-materialUpload-phase-id="{{ exercisePhase.id }}"
                 data-materialUpload-update="material-list">
                <i class="fas fa-spinner fa-spin"></i>
            </div>
            <p>
                Bereits hochgelandene Dateien:
            </p>
            <div id="material-list"
                 data-update-endpoint="{{ path('exercise-overview__material--list', {id: exercisePhase.id}) }}">
                {{ render(path('exercise-overview__material--list', {id: exercisePhase.id})) }}
            </div>
            <hr/>
        </div>
    </div>
    <footer class="footer">
        <a class="btn btn-outline-primary"
           href="{{ path('exercise-overview__exercise--edit', {id: exercise.id}) }}">{% trans %}exercisePhase.new.back{% endtrans %}</a>
        {{ form_row(form.save) }}
    </footer>
    {{ form_end(form) }}
{% endblock %}

