{% trans_default_domain 'forms' %}
{% extends 'BaseNoHeader.html.twig' %}

{% block title %}{% trans %}exercisePhase.edit.title{% endtrans %}{% endblock %}

{% block body %}
    <div class="container">
        <header class="content-header content-header--center">
            {% set phaseTypeTransVar = 'exercisePhase.types.' ~ (exercisePhase.type) ~ '.label' %}
            <h3>{% trans %}exercisePhase.edit.title{% endtrans %} / {{ phaseTypeTransVar | trans }} </h3>
        </header>
    </div>

    <div class="exercise-form">
        {{ form_start(form) }}
        <div class="exercise-form__left">
            {{ form_errors(form) }}

            {{ form_row(form.isGroupPhase) }}
            {{ form_row(form.name) }}
            {{ form_row(form.task) }}
        </div>
        <div class="exercise-form__right">
            <ul class="nav nav-tabs" role="tablist">
                {% if exercisePhase.type == 'videoAnalysis' %}
                    <li role="presentation" class="nav-item">
                        <a class="nav-link active" href="#videos" aria-controls="videos" role="tab" data-toggle="tab">Videos</a>
                    </li>
                {% endif %}
                <li role="presentation" class="nav-item">
                    <a class="nav-link" href="#material" aria-controls="material" role="tab" data-toggle="tab">Material</a>
                </li>
                <li role="presentation" class="nav-item">
                    <a class="nav-link" href="#fragen" aria-controls="fragen" role="tab" data-toggle="tab">Fragen</a>
                </li>
                <li role="presentation" class="nav-item">
                    <a class="nav-link" href="#komponenten" aria-controls="komponenten" role="tab" data-toggle="tab">Komponenten</a>
                </li>
            </ul>

            <div class="tab-content">
                {% if exercisePhase.type == 'videoAnalysis' %}
                    <div role="tabpanel" class="tab-pane active" id="videos">
                        <h4>Videos</h4>
                        {{ form_row(form.videos) }}
                    </div>
                {% endif %}
                <div role="tabpanel" class="tab-pane" id="material">Material</div>
                <div role="tabpanel" class="tab-pane" id="fragen">Fragen</div>
                <div role="tabpanel" class="tab-pane" id="komponenten">Komponenten</div>
            </div>
        </div>

        <footer class="form-footer">
            <a class="btn btn-outline-primary" href="{{ path('app_exercise-edit', {id: exercise.id}) }}">{% trans %}exercisePhase.new.back{% endtrans %}</a>
            {{ form_row(form.save) }}
        </footer>
        {{ form_end(form) }}
    </div>

{% endblock %}
