{% trans_default_domain 'forms' %}
{% extends 'BaseWithSidebar.html.twig' %}

{% block title %}{{ exercise.name }} - Lösungen{% endblock %}

{% block layoutCssClass %}main--without-scrollbar main--no-padding{% endblock %}

{% block sidebar %}
    {{ include(
        'Exercise/PhasesSidebar.html.twig',
        {
            sidebarItems: phases,
            currentItemId: currentExercisePhase.id,
            showSolution: true,
        }
       )
    }}
{% endblock %}

{% block body %}
    <div class="solution-app">
        {% if currentExercisePhase.type.value == 'reflexion' %}
            <header class="content-header--center">
                <h3>{{ exercise.name }}</h3>
            </header>
            <div class="exercise-phase exercise-phase--read-only">
                <p>Dieser Phasentyp hat keine Lösungen</p>
            </div>
        {% else %}
            <header class="content-header--center">
                <h3>{{ exercise.name }} - Lösungen</h3>
            </header>
            <div class="exercise-phase exercise-phase--read-only" data-controller="solutions" data-solutions-props="{{ {data: data, config: config} |json_encode|e('html_attr') }}">
                <div class="loading-screen">
                    <i class="fas fa-spinner fa-spin"></i>
                </div>
            </div>
        {% endif %}
    </div>
    <footer class="footer">
        <a
           class="btn btn-outline-primary footer__left"
           href="{{ path('exercise-overview') }}"
       >
           {% trans %}exercisePhase.showSolutions.back{% endtrans %}
       </a>
    </footer>
{% endblock %}
