{% extends 'BaseNoHeader.html.twig' %}

{% block title %}{{ exercisePhase.name }}{% endblock %}

{% block layoutCssClass %}main--without-scrollbar solution-fullscreen{% endblock %}

{% block body %}
    {% if exercisePhase.type.value == 'reflexion' %}

        <div class="exercise-phase exercise-phase--read-only" data-controller="solutions" data-solutions-props="{{ {data: data, config: config, } |json_encode|e('html_attr') }}">
            <div class="loading-screen">
                <i class="fas fa-spinner fa-spin"></i>
            </div>
        </div>
        <footer class="footer">
            <a class="btn btn-outline-primary footer_left" href="{{ path('exercise-overview__exercise--show-phase-overview', {id: exercisePhase.belongsToExercise.id, phaseId: exercisePhase.id}) }}">Zurück</a>
            <span class="footer__center">{{ exercise.course.name }} / {{ exercise.name }} / Phase {{ exercisePhase.sorting + 1 }}: {{ exercisePhase.name }}</span>
            <a class="btn btn-primary footer_right" href="{{ path('exercise-overview__exercise-phase-team--finish-reflexion', {id: exercisePhaseTeam.id}) }}">Reflexion beenden</a>
        </footer>

    {% else %}

        <div class="exercise-phase" data-controller="exercisePhase" data-exercisePhase-props="{{ { data: data, currentEditor: currentEditor, config: config, liveSyncConfig: liveSyncConfig, uploadEndpoint: oneup_uploader_endpoint('uploaded_videos')} |json_encode|e('html_attr') }}">
            <div class="loading-screen">
                <i class="fas fa-spinner fa-spin"></i>
            </div>
        </div>

        <footer class="footer">
            <a class="btn btn-outline-primary footer__left" href="{{ path('exercise-overview__exercise--show-phase-overview', {id: exercisePhase.belongsToExercise.id, phaseId: exercisePhase.id}) }}">Speichern und Zurück</a>
            <span class="footer__center">{{ exercise.course.name }} / {{ exercise.name }} / Phase {{ exercisePhase.sorting + 1 }}: {{ exercisePhase.name }}</span>
            {% if is_granted('updateSolution', exercisePhaseTeam) %}
                {% if exercisePhase.type.value == 'material' %}
                    {% if exercisePhaseTeam.status.value == 'BEENDET' or exercisePhaseTeam.status.value == 'IN_REVIEW' %}
                        <button id="finish-phase" class="btn btn-primary footer__right" disabled="disabled">Phase Abschließen</button>
                    {% else %}
                        {% if exercisePhase.reviewRequired %}
                            <script type="application/javascript">
                                const confirmFinishPhaseText = 'Nach Abschluss dieser Material-Phase kann das Ergebnis nicht mehr angepasst werden. Das Material wird dann von einer dozierenden Person begutachtet. Zum Zwischenspeichern des Ergebnisses bitte auf "Speichern und Zurück" klicken.\n\n Fortfahren?'
                                const finishReview = () => {
                                    if (window.confirm(confirmFinishPhaseText)) {
                                        window.location.assign("{{ path('exercise-overview__exercise-phase-team--share-result', {id: exercisePhaseTeam.id}) }}")
                                    }
                                }
                            </script>
                        {% else %}
                            <script type="application/javascript">
                                const confirmFinishPhaseText = 'Nach Abschluss einer Material-Phase kann das Ergebnis nicht mehr angepasst werden. Zum Zwischenspeichern des Ergebnisses bitte auf "Speichern und Zurück" klicken.\n\n Fortfahren?'
                                const finishReview = () => {
                                    if (window.confirm(confirmFinishPhaseText)) {
                                        window.location.assign("{{ path('exercise-overview__exercise-phase-team--share-result', {id: exercisePhaseTeam.id}) }}")
                                    }
                                }
                            </script>
                        {% endif %}
                        <button id="finish-phase" class="btn btn-primary footer__right" onclick="finishReview()">Phase Abschließen</button>
                    {% endif %}
                {% else %}
                    <a class="btn btn-primary footer__right" href="{{ path('exercise-overview__exercise-phase-team--share-result', {id: exercisePhaseTeam.id}) }}">Phase Abschließen</a>
                {% endif %}
            {% endif %}
        </footer>

    {% endif %}
{% endblock %}
